.container-cart {
	margin-top: 20px;
}
.align{
    display: flex;
    align-items: center;
}
.align h6{
    margin-bottom: 0;
}
.omg button{
    float: right;
}
.panel-info-cart{
    border: 2px solid lightblue;
}
.panel-heading-cart{
    padding: 1rem 0.5rem;
    background-color: lightskyblue
}
.panel-body-cart{
    padding: 0.5rem 0.5rem 0.5rem 0.5rem

}
.panel-footer-cart{
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.col-md-2 img{
    height: 100px;
    width: 70px;
}