@font-face {
    font-family: Quicksand-Regular;
    src: url('../font/Quicksand-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Quicksand-Light;
    src: url('../font/Quicksand/Quicksand-Light.ttf'); 
  }
  
  @font-face {
    font-family: Quicksand-Medium;
    src: url('../font/Quicksand/Quicksand-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Quicksand-Bold;
    src: url('../font/Quicksand/Quicksand-Bold.ttf'); 
  }
body{
    font-family: Quicksand-Regular;
}
.top-bar{
    display: flex;
    align-items: center;   
    height: 30px;
    background: black;
    color: white;
    justify-content: space-between;
}
.top-bar-left{
    padding-left:10px;
    padding-right: 10px;
}
.top-bar-right{
    flex-direction: row;
    padding-left:10px;
    padding-right: 10px;
    margin-left:10px;
    margin-right: 10px;
}
.top-bar-right-content a{
    color: white;
}
.top-bar-right-content a:hover{
    color: lightblue;
    text-decoration:none;
}
.phone{
    border-right: 1px solid grey;
    border-left: 1px solid grey;  
}
.login{
    border-right: 1px solid grey;
}
.navigation{
    background: #fff;
}
.navigation .nav-link{
    font-size: 25px;
    color: #FFCC00 !important;
    font-weight: bold;
}
.navigation .nav-item.active .nav-link {
    color: #FF9933 !important;
    text-decoration:black!important;
}
.slide-pic{
    width: 100%;
    height: 700px;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 50px!important;
    height: 50px!important;
    background-color: lightblue!important;
}
.carousel-caption{
    position: fixed!important;
    top: 50%!important;
    left: 25%!important;
    bottom:auto!important;
    transform: translate(-50%, -50%)!important;
    right: auto!important;
    width: 60%!important;
    padding-bottom: 0!important;
}
.custom-slide-btn label{
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
}
.index-category{
    padding-top: 50px;
}
.top-left {
    position: absolute;
    top: 8px;
    left: 100px;
    font-size: 25px;
    font-weight: bold
}
.cate-1,.cate-2 {
    margin: 0 auto;
    width: 80%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.226)
}
.cate-1 img,.cate-2 img{
    width: 100%;
    height: auto;
}
.index-product{
    padding-top:80px;
    text-align: center;
}
.index-product h1{
    color: darkred
}   
.index-product img{
    width: 350px;
    height: 400px;
    border-radius: 0.5rem;
    border: 5px solid lightcyan;
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}
.index-product .row{
    justify-content: center;
}
.index-product .col-sm-4.col-md-4.prod{
    max-width: 100%!important;
}
a .button.custom{
    width: 50px;
    height: 50px;
    border: 2px solid green
}
.button.custom i{
    color: black;
    padding: 0.1rem;
    font-size: 24px;
}
/*--------------------------------------*/
.media{
    height: 200px;
    margin-top: 150px;
    margin-left: 200px;
}
.product-index-info{
    padding-top:0.5rem;
    text-align: left;
    font-weight: bold
}
.prod{
    padding-top:1.55rem;
}
.button .btn{
    float: left;
}
.button .btn:last-child{
    margin: 0 0.5rem;
}
.media img{
    width: 200px;
    height: 200px;
}
.media pre{
    text-align: center
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}